
$base-background-color: #f7f8f9;
$base-font-color: #343434;
$base-font-size: 16px;
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-line-height: 1.4;

$base-spacing: 30px;
$medium-spacing: 20px;
$small-spacing: 10px;
$mini-spacing: 5px;

$max-width: 900px;
